.filters__wrapper {
    display: flex;
    flex-direction: column;
}

.our-coffee__filters {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10rem;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.our-coffee__cards {
    margin-top: 5rem;
    width: 70%;
}

.our-coffee__cards-item {
    height: 26rem;
    background-color: white;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .3);
    cursor: pointer;
}