.our-best {
    position: relative;
    min-height: 50rem;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    row-gap: 3rem;
}

.our-best-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.our-best-bg img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
