.about__it {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    justify-content: center;
    column-gap: 5rem;
    flex: 1;
}

.about__it-img {
    height: 100%;
    width: 100%;
}

.about__it-img img {
    height: 100%;
    width: 100%;
}

.about__it-descr {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    row-gap: 2rem;
}

.descr-country,
.descr-price,
.descr-text {
    text-align: start;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.descr-price,
.descr-text-about {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: bold;
}
