.cards-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    height: 24rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
}

.cards-item-img {
    height: 10rem;
    width: 10rem;
}