.header {
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #FFF;
    background-color: transparent;
    top: 4rem;
    left: 12%;
    z-index: 3;
}

.navigation {
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    column-gap: 3rem;
}


.navigation-link {
    cursor: pointer;
}

.navigation-header img {
    filter: invert(0%);
}